<!-- <button (click)="shuffleMonster()">Losuj potwora</button>
<br/>
<div class="flex-block">
  <img src="assets/images/{{monster[0].img}}">
  <div>
    <p>Nazwa: {{monster[0].name}}</p>
    <p>Siła: {{monster[0].strength}}</p>
    <p>Występowanie: {{monster[0].terrain}}</p>
    <p>Lvl: {{monster[0].lvl}}</p>
    <p>Pieniądze: {{monster[0].money}}</p>
    <p>Opis: {{monster[0].skills}}</p>
  </div>
</div> -->
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>
<p>Main page</p>