<div class="content-container">
  <div class="global-content-box">
    <h1>The Walking Witcher</h1>
    <img src="assets/images/wolf-symbol.png">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dolore minus eum dicta, eos illum laboriosam hic esse consequuntur ipsum ex quaerat quasi aliquam quidem quis a! Itaque, repellendus quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti officiis eius, quidem eos ducimus nihil eligendi at, totam id minus nisi cupiditate fuga itaque provident eaque magni inventore placeat. Ad!</p>
  </div>
</div>