<div class="content-container">
  <div class="global-content-box">
    <h1 class="image-in-text-animation">The monster within</h1>
    <i>,,Lepiej bez celu iść naprzód niż bez celu stać w miejscu, a z pewnością o niebo lepiej, niż bez celu się cofać."</i>
    <p class="main-page-sign">~ Andrzej Sapkowski, Wieża jaskółki</p>
    <div class="main-page-content-left">
      <img src="assets/images/learning-guy.jpg">
      <p>Ustal jakie nawyki chcesz śledzić, gdy będziesz wypełniał je regularnie, rozwiniesz swoją postać</p>
    </div>
    <div class="main-page-content-right">
      <p>Dodaj ciekawe miejsca ze swojej okolicy. Do nich będą prowadzić zlecenia</p>
      <img src="assets/images/ruin-in-the-forrest.jpg">
    </div>
    <div class="main-page-content-left">
      <img src="assets/images/phone-hunt.png">
      <p>Podejdź do tablicy ogłoszeniowej, udaj się na miejsce polowania i walcz!</p>
    </div>
  </div>
</div>