<div class="container">

  <div class="container-box desktop">
    <a routerLink="" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">strona główna</a>
    <a routerLink="bestiary" routerLinkActive="active">potwory</a>
    <a routerLink="character" routerLinkActive="active">postać</a>
    <a routerLink="lacations" routerLinkActive="active">lokacje</a>
    <a routerLink="instruction" routerLinkActive="active">instrukcja</a>
  </div>

  <div class="burger" (click)="burgerClick()" [ngClass]="{'burger-after-click':mobileVisible}">
    <div></div>
  </div>

  <div class="mobile-menu" *ngIf="mobileVisible">
    <a routerLink="" routerLinkActive="active" (click)="mobileLinkClick()"  [routerLinkActiveOptions]="{ exact: true }">strona główna</a>
    <a routerLink="bestiary" routerLinkActive="active" (click)="mobileLinkClick()">potwory</a>
    <a routerLink="character" routerLinkActive="active" (click)="mobileLinkClick()">postać</a>
    <a routerLink="lacations" routerLinkActive="active" (click)="mobileLinkClick()">lokacje</a>
    <a routerLink="instruction" routerLinkActive="active" (click)="mobileLinkClick()" >instrukcja</a>
  </div>

</div>