.container{
  background: url(../../../assets/images/witcher-horse-background.jpg);
  background-size:cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 142rem;
  position: relative;
  .box{
    margin: 0 auto;
    max-width: 110rem;
  }
}