<div class="content-container">
  <div class="global-content-box">
    <h2>Lokacje</h2>
    <p>Sprawdź istniejące lokacje lub dodaj nowe. Potrzebujesz pewną ilość lokacji na początku rozgrywki żeby mieć możliwość losowania zgłoszeń
    </p>
  </div>
</div>

<div class="content-container">
  <div class="global-content-box">
    <div class="locations">
      <div class="locations-box">
        <app-locations-enviroment [enviroment]="locations[i].enviroment" [image]="locations[i].image" *ngFor="let i = index, let location of locations | slice:1:locations.length/2+1"></app-locations-enviroment>
      </div>
      <div class="locations-box">
        <app-locations-enviroment [enviroment]="locations[i].enviroment" [image]="locations[i].image" *ngFor="let i = index, let location of locations | slice:locations.length/2:locations.length+1"></app-locations-enviroment>
      </div>
    </div>
  </div>
</div>