<div class="content-container">
  <div class="global-content-box">
    <h2>Lokacje</h2>
    <p>Sprawdź istniejące lokacje lub dodaj nowe. Potrzebujesz pewną ilość lokacji na początku rozgrywki żeby mieć możliwość losowania zgłoszeń
    </p>
  </div>
</div>

<div class="content-container">
  <div class="global-content-box">
    <div class="locations">
      <div class="locations-box">
        <div class="locations-box-enviroment">
          <div class="locations-box-enviroment-title">
            <img src="assets/icons/drop.png">
            <h3>Podmokłe</h3>
            <img class="locations-box-enviroment-title-plus" src="assets/icons/plus.png">
          </div>
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
          </ul>
        </div>
        <div class="locations-box-enviroment">
          <div class="locations-box-enviroment-title">
            <img src="assets/icons/drop.png">
            <h3>Podmokłe</h3>
            <img class="locations-box-enviroment-title-plus" src="assets/icons/plus.png">
          </div>
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
          </ul>
        </div>
        <div class="locations-box-enviroment">
          <div class="locations-box-enviroment-title">
            <img src="assets/icons/drop.png">
            <h3>Podmokłe</h3>
            <img class="locations-box-enviroment-title-plus" src="assets/icons/plus.png">
          </div>
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
          </ul>
        </div>
      </div>
      <div class="locations-box">
        <div class="locations-box-enviroment">
          <div class="locations-box-enviroment-title">
            <img src="assets/icons/drop.png">
            <h3>Podmokłe</h3>
            <img class="locations-box-enviroment-title-plus" src="assets/icons/plus.png">
          </div>
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
          </ul>
        </div>
        <div class="locations-box-enviroment">
          <div class="locations-box-enviroment-title">
            <img src="assets/icons/drop.png">
            <h3>Podmokłe</h3>
            <img class="locations-box-enviroment-title-plus" src="assets/icons/plus.png">
          </div>
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
          </ul>
        </div>
        <div class="locations-box-enviroment">
          <div class="locations-box-enviroment-title">
            <img src="assets/icons/drop.png">
            <h3>Podmokłe</h3>
            <img class="locations-box-enviroment-title-plus" src="assets/icons/plus.png">
          </div>
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>