<div class="register">
  <p class="register-welcome" >Zostań wiedźminem!</p>
  <div class="register-input">
    <app-input placeholder="email@poczta.com" label="Email"></app-input>
  </div>
  <div class="register-input">
    <app-input type="password" label="Hasło" placeholder="********"></app-input>
  </div>
  <div class="register-input">
    <app-input type="password" label="Powtórz" placeholder="********"></app-input>
  </div>
  <button>Zarejestruj się</button>
  <p>Masz już u nas konto? <a routerLink="../login">Zaloguj się!</a></p>
</div>