<div class="login">
  <p class="login-welcome" >Witaj ponownie wiedźminie</p>
  <div class="login-input">
    <app-input placeholder="email@poczta.com" label="Email"></app-input>
  </div>
  <div class="login-input">
    <app-input type="password" label="Hasło" placeholder="********"></app-input>
  </div>
  <div class="login-box">
    <button>Zaloguj się</button>
    <a routerLink="../forgot-password">Zapomniałem hasła</a>
  </div>
  <p>Nie posiadasz konta? <a routerLink="../register">Zarejestruj się!</a></p>
</div>
