.container{
  display: flex;
  justify-content: center;
  flex-direction: column;

  //global-upper-box GLOBAL STYLES

    .monster-cards-desktop{
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 80rem;
      padding: 2rem;
    }
    
    .monster-cards-mobile{
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      max-width: 80rem;
      padding: 2rem;
    }

    .global-content-box{
      margin-bottom: 20px;
    }
}

@media screen and (max-width: 580px) {
  .container{
    .monster-cards-desktop{
      display: none;
    }
    .monster-cards-mobile{
      display: flex;
    }
  }
}