<div class="container">
  <div class="global-content-box">
    <h2>Tablica ogłoszeniowa</h2>
    <p>Sprawdź czy jest jakieś zlecenie na tablicy ogłoszeniowej...</p>
    <div class="monster-cards-desktop">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
    <div class="monster-cards-mobile">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
  <div class="global-content-box">
    <p>Gdy podejdziesz do tablicy ogłoszeniowej możesz sprawdzić jakie zlecenia się na niej znajdują. Największa szansa jest na brak zgłoszenia i najmniejsza na potwora lvl 5</p>
  </div>
</div>



