<div class="content-container">
  <div class="global-content-box">
    <h2>Bestiariusz</h2>
    <p>Tutaj znajdziesz listę wszystkich potworów oraz ich statystyki</p>
  </div>
  <div class="global-content-box">
    <div class="level-row">
      <p>text</p>
      <p>Lvl 1</p>
      <p>Lvl 2</p>
      <p>Lvl 3</p>
      <p>Lvl 4</p>
      <p>Lvl 5</p>
    </div>
    <div class="w-100" *ngFor="let i = index of monsterRows">
      <app-bestiary-monster [enviroment]="monsterRows[i].enviroment" [image]="monsterRows[i].image"></app-bestiary-monster>
    </div>
  </div>
</div>