.global-content-box:nth-child(2){
  padding: 10px 12px;

  .level-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .level-row{
    font-size: 12px;
    // padding-left: 80px;
    margin-bottom: 10px;
    text-align: center;
  }
  .level-row p:first-child{
      opacity: 0;
  }

}


@media screen and (max-width: 670px) {
  .global-content-box{
    padding: 2px;
    width: 100%;
    .level-row {
      p:nth-child(1){
        display: none;
      }
    }
  }
}