// RESET //
html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  font-family: "Semplicita Pro",'Open Sans',Arial,Helvetica,sans-serif;

}

body::-webkit-scrollbar{
  display: none;
}

a{
  color: black;
  text-decoration: none;
  -webkit-user-drag: none ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.global-content-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0,0,0, .7);
  border-radius: 1rem;
  padding: 2rem;
  width: 96%;
  margin-bottom: 2rem;

  h2{
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }
  p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }
}
.w-100{
  width: 100%;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-aligin-left{
  text-align: left;
}

.text-aligin-right{
  text-align: right;
}

.text-aligin-center{
  text-align: center;
}

@media screen and (max-width: 580px) {
  .content-container{
    .global-content-box{
      padding: 1rem;
    }
  }
}