:root {
  --grey:  #a0889b;
  --black: #180d10;
  --white: #fff;

  --orange: #fd8a39;
  --orange-dark: #D37724;

  --ocean-blue: #0A6683;
  --ocean-blue-dark: #27516F;

  --brown: #714E2B;
  --brown-dark: #322A20;
  
  --pink-dark: #D1646C;
}