.logo{
  font-size: 5rem;
  letter-spacing: 6px;
  cursor: pointer;
  font-family: "Vampire";
  text-shadow: white 2px 2px 2px;
}

.logo-white{
  font-size: 5rem;
  letter-spacing: 6px;
  cursor: pointer;
  font-family: "Vampire";
  text-shadow: black 2px 2px 2px;
  color: white;
}